* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.flexRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bgImage {
    height: 100vh;
    width: 100vw;
    background-image: url('./image/dw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#app-container {
    background: linear-gradient(to bottom right, rgba(35, 106, 98, 0.8),rgba(171, 105, 56, 0.8));
    height: 100vh;
    width: 100vw;
}

.componentWrapper {
  max-width: 1100px;
}

.mapWrapper {
    width: 45%;
    height: 75vh;
    position: relative;
}

.resultsWrapper {
    height: 75vh;
    width: 45%;
    overflow: scroll;
}

.header {
    height: 10vh;
    width: 100%;
}

.title {
    font-size: 3.2em;
    color: #f4f4f4;
    letter-spacing: 5px;
    font-family: cursive;
}

.inputSection {
    width: 75%;
    color: #f4f4f4;
    height: 5vh;
    margin-top: 5;
    justify-content: center;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 950px) {
    .mapWrapper {
        width: 95%;
        height: 25vh;
    }
    .resultsWrapper {
        height: 45vh;
        width: 90%;
        margin-top: 25px;
    },
    .inputSection {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .mapWrapper {
        width: 95%;
        height: 25vh;
    }
    .resultsWrapper {
        height: 45vh;
        width: 90%;
        margin-top: 25px;
    }
    .header {
        height: 10vh;
    }
    .title {
        visibility: hidden;
    }
    .inputSection {
        width: 100%;
    }
}